@font-face {
  font-family: 'space_grotesk';
  src:
    url('../webfonts/SpaceGrotesk-VF.ttf') format('truetype-variations'),
}

html {
  font-family: 'space_grotesk', sans-serif;
  font-variation-settings: 'wght' 500;
	--background: #FDFDFF;
  --text-color: #222;
	--accent-color-one: #BFEDD0;
	--accent-color-two: #F9CCB4;
	--accent-color-three: #C5AAB9;
	--accent-color-four: #DFBFB9;
	--accent-color-cta: #FF5722;
}

body {
  width: 80%;
  margin: 0 auto;
  color: var(--text-color);
  background-color: var(--background);
}

h2 {
  font-variation-settings: 'wght' 800;
  margin-top: 32px;
  padding-bottom: 6px;
  border-bottom: 1px solid #222;
}

h2:first-child {
  margin-top: 8px;
}

h3 {
  font-variation-settings: 'wght' 600;
  /* margin-top: 28px; */
}

a {
  font-weight: bold;
}

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.gap {
  gap: 10px;
}

.grow {
  flex-grow: 1;
}

.title {
  font-size: 3em;
  font-variation-settings: 'wght' 1000;
  text-align: center;
}

.theme-1 {
  --block-accent-color: var(--accent-color-one);
}

.theme-2 {
  --block-accent-color: var(--accent-color-two);
}

.theme-3 {
  --block-accent-color: var(--accent-color-three);
}

.theme-4 {
  --block-accent-color: var(--accent-color-four);
}

.theme-cta {
  /* --block-text-color: #FFF; */
  --block-accent-color: var(--accent-color-cta);
}

@media screen and (max-width: 991px) {
  body {
    width: 100%; /* Ocupa todo el ancho en pantallas más pequeñas */
  }

  .flex:not(.double) {
    flex-direction: column; /* Cambia la dirección del contenedor flex a columna */
  }

  .grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 575px) {
  .flex.double {
    flex-direction: column; /* Cambia la dirección del contenedor flex a columna */
  }
}
