---

---

<section id='about' class='py-24 md:py-32 bg-base-100'>
  <div class='container mx-auto px-6 lg:px-8'>
    <div>
      <p class='badge badge-ghost mb-4 fade-up'>About me</p>
      <h1 class='text-4xl md:text-5xl font-bold mb-8 fade-up text-base-content'>
        Engineer & Problem Solver
      </h1>
      <div
        class='opacity-0 translate-y-8 transition-all duration-600 ease-out prose prose-lg text-base-content mb-8'
      >
        <p>
          <strong>Hi, I'm Ed!</strong> I am an engineer from Argentina with 4+ years
          proven experience in the software development industry.
        </p>
        <p>
          I am a quick learner and thinker who takes ownership of his work and
          leverages team work and expertise to drive impact.
        </p>
        <p>
          I contributed to Microsoft's production Email Orchestrator solution
          and I was part of POAP's core developers team.
        </p>
        <p>
          I am currently looking for my next place to continue my Web3 journey!
        </p>
      </div>
      <div class='flex justify-end gap-4'>
        <a
          href='/resume-sacco.pdf'
          class='btn btn-secondary uppercase'
          target='_blank'
        >
          Download Resume
        </a>
        <a
          href='https://forms.gle/RfnsZDtW3eKoCRRt9'
          class='btn btn-secondary uppercase'
          target='_blank'
        >
          Invite me to a job
        </a>
      </div>
    </div>
  </div>
</section>
