---
const githubUrl = 'https://github.com/eduardosacco';
const linkedinUrl = 'https://www.linkedin.com/in/esacco/';
const portfolioPath = '/resume-sacco.pdf';
---

<footer id='footer-menu' class='bg-neutral-200 text-black relative z-10'>
  <div class='container mx-auto px-6 lg:px-8 py-8'>
    <div class='flex flex-col md:flex-row justify-between items-center gap-4'>
      <!-- Footer Text -->
      <div>
        <a href='#main'>GO BACK UP ⬆️</a>
      </div>
      <div class='flex flex-col gap-1 text-sm text-center md:text-right'>
        <p>HUSTLE HARD. TOUCH GRASS.</p>
        <p>ALL RIGHTS RESERVED. ALL SINS FORGIVEN.</p>
        <p>© 2025, EDUARDO SACCO</p>
      </div>
    </div>
  </div>
</footer>
